body {
    background-color: #99366b;
}

@media screen and (min-width: 675px) {
    body {
        background-color: #0062a3;
    }
}

@media screen and (min-width: 999px) {
    body {
        background-color: #00939a;
    }
}

@media screen and (min-width: 1280px) {
    body {
        background-color: #ef5c6e;
    }
}
